---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between items-center">
      <nav class="flex justify-between w-full items-center md:text-xl">
        <Link href="/" underline={true}>
          <div class="font-semibold">
            Bob's world
          </div>
        </Link>

        <div class="flex gap-2">
          <Link href="/blog">
            blog
          </Link>
          <Link href="/work">
            work
          </Link>
          <Link href="/projects">
            projects
          </Link>
        </div>
      </nav>
    </div>
  </Container>
</header>
